*_config.json
*.ipynb_checkpoints
*.ipynb
cis/*.ipynb 
models/*.ipynb
models/*-*-*
*.xlsx
ez-email
__pycache__
models/env
training_data_processing/*
*.csv
*.db
migrations/
.xlsx
*.json
sample_command.txt
swagger_app_scan.yaml
swagger_app_scan_updated.yaml